.login-container{
    background-color: rgba(65, 68, 67, 0.321);
}
.login-inp{
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 2rem;
    outline: none;
    border: none;
    border-radius: 10px;
    max-width: 100%;
}

.login-btn{
    width: fit-content;
    padding: 1em 4em;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    align-self: center;
    font-family: sans-serif;
    font-weight: 600;
    background-color: rgb(95, 204, 95);
    text-transform: uppercase;
}

.oauth-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4em;
}

p{
    text-transform: capitalize;
    font-family: sans-serif;
}

@media screen and (max-width:768px){
    .login-container{
        padding: 2em;
        display: flex;
        min-height: 50vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .login-box{
        display: flex;
        flex-direction: column;
        min-width: 80%;
    }
    .oauth-box::before{
        content: 'or';
    }
    
    .oauth-Btn{
        padding: 1.2em;
        text-transform: capitalize;
        font-family: sans-serif;
        font-weight: 600;
        text-align: center;
        text-wrap: nowrap;
        font-size: 1.1em;
        width: 15em;
        border-radius: 10px;
        border: none;
        background-color: rgba(25, 169, 78, 0.999);
    }

}

@media screen and (min-width:1025px) {   
    .login-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 2rem;
    min-height: 60vh;
    }
    .login-box{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
  
    button{
        cursor: pointer;
    }
    .oauth-Btn{
        padding: 1.2em;
        text-transform: capitalize;
        font-family: sans-serif;
        font-weight: 600;
        text-align: center;
        text-wrap: wrap;
        font-size: 1.1em;
        width: 30em;
        border-radius: 10px;
        border: none;
        background-color: rgb(66, 164, 66);
    }
}
