@use './page/landingPage.style.scss';
@use './components/navbar.compos.scss';
@use './components/layout.compo.scss';
@use './components/footer.compo.scss';
@use './page/signup.style.scss';

:root{
    overflow-y: auto;
    scrollbar-width: none;
}