.container{
    background-color: rgba(65, 68, 67, 0.321);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    padding: 1rem  0;
    span{
        text-decoration: underline;
        margin-bottom: 1em;
    }
    .login-link{
        color: white;
        font-family: sans-serif;
        text-transform: capitalize;
        &:visited{
            color: blue;
        }
    }

}

.err-container {
  border: 1px solid rgb(178, 178, 195);
  margin-top: 1em;
  padding: 1em 3em;
  border-radius: 8px;
  background: rgba(255, 0, 0, 0.05);
  animation: shake 0.4s ease-in-out;
}

.err-msg {
  color: rgb(184, 43, 43);
  font-size: medium;
  text-transform: capitalize;
  font-family: sans-serif;
}

.success-msg{
  color: rgb(21, 196, 18);
  font-size: medium;
  text-transform: capitalize;
  font-family: sans-serif;
}


@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}


.box1{
//  border: 1px solid yellow;
 margin: 2rem 0;
 padding: 2rem;
 display: flex;
 align-items: center;
 flex-direction: column;
 row-gap: 1rem;

 input{
    padding: 1.3em;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: none;
    font-weight: 600;
 }

 button{
    width: fit-content;
    padding: 1em 2em;
    background-color: rgba(101, 251, 101, 0.769);
    border: none;
    margin: 0 auto;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
 }

}


.oauth-btn{
    width: 80%;
    text-transform: capitalize;
    font-size: 19px;
    font-weight: 600;
    padding: .7em;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(58, 99, 58);
    cursor: pointer;
}