
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color: white;

  .page-content {
    flex: 1; // takes all space between navbar and footer
    padding: 2rem;
    transform: translateY(-50px);
    opacity: 0;
    animation: slideIn 0.8s forwards;
    animation-delay: 0.3s;
  }
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
