@mixin flex-center($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

$border : solid 1px rgb(73, 73, 55);

:root{
    background-color: black;
    color: white
}

.nav {
  @include flex-center(space-between, center);
  margin: 0; // remove top/bottom margin for sticky
  padding: 1rem 2rem;
  position: sticky;   // <-- makes navbar stick to top
  top: 0;             // stick to top
  background-color: black; // same as root bg
  z-index: 1000;      // stay above other content
}


.nav-col-left{
    @include flex-center(space-around,center);
    width: 20%;
        h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: capitalize;
        @media screen and (max-width: 768px) {
            font-size: 1.5em;
        }
    }
        @media screen and (max-width : 768px) {
            @include flex-center(flex-start, center);
            flex-direction: column;
        }
}

.nav-col-right{
    width: 80%;

    .off-nav-btns{
        @include flex-center(flex-end,center);

        @media screen and (min-width : 768px){
            .off-nav-btns{
                @include flex-center(flex-end, center)
            }
        }

        .nav-link{
            text-transform: capitalize;
            font-family:sans-serif;
            cursor: pointer;
            margin-right: 1em;
            text-wrap-mode: nowrap;
            font-size: 1.5em;
            text-decoration: none;
        }
    }
}

